@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="map_wrapper">
        <div class="map_bottom map">
            <img src="~/images/map_raster.jpg" alt="world map" />
        </div>
        @*Set SVG to width: auto*@
        @Html.Raw(System.IO.File.ReadAllText("wwwroot/images/map_vector.svg"))
    </div>
</div>
